{% extends "auctions/layout.html" %}

{% block body %}
<!---
    <h2>Active Listings</h2>
    {%  for auction in auctions %}
        <h3> {{auction.title}} </h3>
        <p> {{ auction.description }}</p>
        <img src="{{ auction.image }}" alt="{{auction.title}}">
        <strong>Starting auction price: {{ auction.initial_price }}</strong>
        <p> {{ auction.get_category_display }}</p>
    {% endfor %}
--->
{% if message %}
    <p><b>{{ message }}</b></p>
    <a href="{% url 'index' %}" class="btn btn-light btn-sm"> Return to Auction page </a>
{% endif %}
{% if category %}
    <h3> Category: {{ category }} </h3>
{% endif %}
<div class="grid-wrapper">
    {% for auction in auctions %}
        <div class="grid-item">
            <h3> {{auction.title}} </h3>
            <p> {{ auction.description }}</p>
            {% if auction.image %}
                <img src="{{ auction.image }}" alt="{{auction.title}}">
            {% endif %}
            {% if auction.active == False %}
            <p id="first-txt">
                    Auction Closed
            </p>
            {% endif %}

            <strong>Starting auction price: {{ auction.initial_price }}</strong>
            <p> {{ auction.get_category_display }}</p>
            <a href="{% url 'listing' auction.id %}" class="btn btn-primary"> Go to auction page </a>
            <form action = "{% url 'add_remove_from_watchlist' auction.id %}" method = "post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-light btn-sm">Add/Remove watchlist</button>
            </form>

        </div>
  {% endfor %}
</div>

{% endblock %}