{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction details</h2>
    <div id="div-listing-detail">
        <h3 id="detail_title"> {{auction.title}} </h3>
                <p> {{ auction.description }}</p>
                {% if auction.image %}
                    <div id = "detail_image">
                        <img src="{{ auction.image }}" alt="{{auction.title}}" id="image_detail">
                    </div>
                {% endif %}
        <p><b>Starting auction price: {{ auction.initial_price }}</b></p>
        <p><b>Current Bid: {{ higher_bid }} </b></p>
        <p> {{ auction.get_category_display }}</p>
    {% if auction.active == True %}
        <div id="div-bid-form">
            <form action= "{% url 'bid' auction.id %}" method="post">
            {% csrf_token %}
            {{ form }}
                {% if form %}
                    <input type="submit" value="Submit">
                {% endif %}
            </form>
        <div id="div-bid-success">
            {% if message %}
                <p><b>{{ message }}</b></p>
                <a href="{% url 'listing' auction.id %}"> Return to auction page </a>
            {% endif %}
        </div>
        </div>
        <div id="div-closing-auction">
            {% if auction.seller.id == user.id %}
                <form action="{% url 'close_bid' auction.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Close Bid">
                </form>
            {% endif %}
        </div>
    {% endif %}
     {% if winner_message %}
            <div id="winner-message">
                <h1>{{ winner_message }}</h1>
            </div>
     {% endif %}


    <div id="div-comment-block">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="be-comment-block">
	<h1 class="comments-title">Comments</h1>
	<div class="be-comment" style="height: 200px; overflow-y: auto;">
    {% if comments %}
        {%  for comment in comments %}
		<div class="be-comment-content">
				<span class="be-comment-name">
					<a href="blog-detail-2.html"> {{ comment.commenter }}</a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{ comment.comment_date }}
				</span>

			<p class="be-comment-text">
                    {{ comment.content }}
			</p>
		</div>
        {% endfor %}
    {% else %}
        <p class="be-comment-text"> No comments yet</p>
    {% endif %}
	</div>

	<form action= "{% url 'comment' auction.id %}" method="post">
		<div class="row">
				<div class="form-group">
                    {% csrf_token %}
                    {{ comment_form }}
				</div>
            <div>
			    <input type="submit" class="btn btn-primary pull-right" value="Submit comment">
            <div>
		</div>
	</form>
</div>
</div>

{% endblock %}




