{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction details</h2>
    <div id="div-listing-detail">
        <h3 id="detail_title"> {{auction.title}} </h3>
                <p> {{ auction.description }}</p>
                {% if auction.image %}
                    <div id = "detail_image">
                        <img src="{{ auction.image }}" alt="{{auction.title}}" id="image_detail">
                    </div>
                {% endif %}
        <p><b>Starting auction price: {{ auction.initial_price }}</b></p>
        <p> {{ auction.get_category_display }}</p>
    </div>
{% endblock %}




