{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction details</h2>
    <div id="div-listing-detail">
        <h3 id="detail_title"> {{auction.title}} </h3>
                <p> {{ auction.description }}</p>
                {% if auction.image %}
                    <div id = "detail_image">
                        <img src="{{ auction.image }}" alt="{{auction.title}}" id="image_detail">
                    </div>
                {% endif %}
        <p><b>Starting auction price: {{ auction.initial_price }}</b></p>
        <p><b>Current Bid: {{ higher_bid }} </b></p>
        <p> {{ auction.get_category_display }}</p>
    <div id="div-bid-form">
        <form action= "{% url 'bid' auction.id %}" method="post">
        {% csrf_token %}
        {{ form }}
            {% if form %}
                <input type="submit" value="Submit">
            {% endif %}
    </form>
    <div id="div-bid-success">
        {% if message %}
            <p><b>{{ message }}</b></p>
            <a href="{% url 'listing' auction.id %}"> Return to auction page </a>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}




